@import "tailwindcss";

html, body, #root {
  max-width: 100vw;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply antialiased select-none sm:select-text;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.4);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.7);
}
